*,*::before,*::after{margin:0px;padding:0px;box-sizing:border-box;outline:none;font-family:Calibri;}
html{font-size:62.5%;}
body{
    font-size:1.6rem;
    display:flex;
    flex-direction:column;
    height:100vh;
    // background-color: rgb(35, 50, 58);
    // color: white;
}

a{
    text-decoration: none;
    color: black;
}